.board {
  display: table;
}
.board > .row {
  display: table-row;
}
.board > .row > .square {
  display: inline-block;
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  border: 1px solid #555;
  cursor: pointer; 
}
