.board {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.board > .row {
  display: block;
  margin: 0;
  padding: 0;
  min-height: 32px;
  max-height: 32px;
  box-sizing: border-box;
}
.board > .row > .square {
  display: inline-block;
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  max-height: 32px;
  border: 1px solid #888;
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}
.board > .row > .square:hover {
  background-color: #eff;
  border: 1px solid #aaa;
}
